
body{
background-color: #f6f3af;
}

#wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding: 4em 2em;
    background:
    url("images/Bocchi_the_Rock.png") no-repeat right,
    #000;
}

.banner-text{
    color: #fff;
    width: 40%;
}

.btn{
    color: #FFF100;
    font-weight: 300;
    background-color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    display:inline-block;
}

nav{
    background-color: #E1DB6C;
}

nav li{
    display: inline;
    margin-right: 3em;
}