/* {
    margin:0;
    padding:0;
    border:none;
} */


body{
background-color: #fff;
}

#wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding: 4em 2em;
    background:
    url("images/Bocchi_the_Rock.png") no-repeat right,
    #000;
}

.banner-text{
    color: #fff;
    width: 40%;
}

.btn{
    color: #FFF100;
    font-weight: 300;
    background-color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    display:inline-block;
}

nav{
    background-color: #E1DB6C;
    margin: 0%;
}

nav li{
    display: inline-block;

}

nav a{
    display: inline-block;
    color:#fff;
    padding: 0.5em 2em;
    text-decoration: none;

}

nav a:hover{
    background-color: rgb(170, 246, 245);
}

.col{
    float: left;
    width: 48%;
    margin-right: 4%;
}

.col:last-child{
    margin-right: 0;
}

footer{
    clear: both;
}

  .episodes{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

  .episode-card{
    width:270px;
    margin-right:30px;
    margin-bottom:30px;
    border:solid 1px #ddd;
    flex:1 1 auto;
}

.episode-card:last-child{
    margin-right:0;
}

  .episode-card img{
    width: 100%;
}

  .episode-card p, .episode-card h4{
    margin:1em
}